@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
    background-color: #111E3E;

}

.navbar {
    position: fixed;
    background-color: #8bc34a;
    height: 4.5rem;
    width: 100vw;
}

.profile_navbar {
    position: relative;
    display: flex;
    left: 72.5%;
    height: 3.5rem;
    width: 80%;
}

.profile_pic_navbar {
    position: relative;
    width: 48px;
    height: 48px;
    top: 25%;
    left: 0%;
}

.profile_pic_image_navbar {
    border-radius: 50%;
}

#profile_name_navbar {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.profile_name_navbar {
    position: relative;
    text-align: right;
    margin-right: 2%;
    top: 50%;
    width: 15%;
    height: 1.5rem;
    font-size: 15px;
}


.logo {
    position: absolute;
    left: 2.5rem;
    top: 0.75rem;
    height: 2.75rem;
    width: 8rem;
}


.botao_logo {
    height: 2.75rem;
    width: 8rem;
    border: 0;
    border-radius: 1rem;
    background-color: #d9d9d9;
}

.sair {
    position: absolute;
    bottom: 25%;
    left: 92.5%;
    height: 34px;
    width: 34px;
    background-color: #8bc34a;
}

.botao_sair {
    border: 0;
    background-color: #8bc34a;
}

button {
    cursor: pointer;
}

.feed {
    display: flex;
    justify-content: center;
}

.feed_area {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 40.5rem;
    top: 5.2rem;
    border-width: 0px 1px;
    border-style: solid;
    border-color: #7E7E7E;
    ;
}

.feed_background {
    position: absolute;
    height: 100vh;
    width: 40rem;
    border-width: 0;
    background-color: #111E3E;
}

.botao_criar_pub {
    height: 2.75rem;
    width: 8rem;
    border: 0;
    border-radius: 1rem;
    background-color: #d9d9d9;
}

.post {
    background-color: #222E50;
    height: 12rem;
    width: 100%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border-radius: 2rem;
    margin-bottom: 1%;
}

.profile {
    position: relative;
    display: flex;
    height: 3.5rem;
    width: 100%;
}

.profile_pic {
    position: relative;
    width: 48px;
    height: 48px;
    top: 25%;
    left: 2.5%;
}

.profile_pic_image {
    border-radius: 50%;
}

.profile_name {
    position: relative;
    left: 5%;
    top: 50%;
    width: 16rem;
    height: 1.5rem;
    font-size: 15px;
}

.post_content {
    position: relative;
    background-color: #222E50;
    height: 5rem;
    width: 70%;
    left: 15%;
    font-size: 15px;
}

#data {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #71767b;
    font-size: 15px;
}

#separador {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #71767b;
    font-size: 15px;
}

#profile_name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.comment_balloon {
    position: relative;
    background-color: #222E50;
    left: 5%;
    width: 32px;
}

.comment_balloon_button {
    background-color: #222E50;
    border: 0;
}

button {
    cursor: pointer;
}