@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
    background-color: #111E3E;

}

.navbar {
    position: fixed;
    background-color: #8bc34a;
    height: 4.5rem;
    width: 100vw;
}

.entrar {
    height: 2.5rem;
    width: 5.75rem;
    position: absolute;
    background-color: #8bc34a;
    right: 2.5rem;
    top: 1rem;
}

.botao_entrar {
    background-color: #222e50;
    font-family: 'Inter', sans-serif;
    color: white;
    border-width: 0;
    height: 2.5rem;
    border-radius: 1rem;
    width: 5.75rem;
    font-size: 1rem;
}

.logo {
    position: absolute;
    left: 2.5rem;
    top: 0.75rem;
    height: 2.75rem;
    width: 8rem;
}


.botao_logo {
    height: 2.75rem;
    width: 8rem;
    border: 0;
    border-radius: 1rem;
    background-color: #d9d9d9;
}

.criar_conta {
    position: absolute;
    height: 2.5rem;
    width: 5.75rem;
    right: 10rem;
    top: 1rem;

}

.botao_criar_conta {
    background-color: #8bc34a;
    color: #222e50;
    font-family: 'Inter', sans-serif;
    border-width: 0;
    height: 2.5rem;
    border-radius: 1rem;
    width: 5.75rem;
    font-size: 1rem;
}


button {
    cursor: pointer;
}

.feed {
    display: flex;
    justify-content: center;

    
}

.feed_area {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 40.5rem;
    top: 5.2rem;  
    border-width: 0px 1px;
    border-style: solid;
    border-color: #7E7E7E;
    ;
}

.feed_background {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 40rem;
    top: 3rem;
    border-width: 0;
    background-color: #111E3E;
}

.feed_rodape_comentar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #19192D;
    bottom: 0rem;
    width: 40rem;
    height: 6rem;

}

.cadastro {
    display: flex;
    align-items: center;
    padding: 10% 0%;
}

.cadastro_caixa {
    height: 43rem;
    width: 35rem;
    background-color: #222E50;

}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13% 0%;


}

.login_caixa {
    height: 33rem;
    width: 35rem;
    background-color: #222E50;


}

.recuperacao {
    display: flex;
    align-items: center;
    padding: 10% 0%;

}


.recuperacao_caixa {
    height: 43rem;
    width: 35rem;
    background-color: #222E50;

}












